<!DOCTYPE html>
<!-- define angular app -->
<html ng-app="hackers">
<head>
<title>Hacker Diary</title>
<!-- SCROLLS -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" />
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" />
<!-- SPELLS -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular-route.js"></script>
<script src="js/core.js"></script>
</head>
<!-- define angular controller -->
<body ng-controller="mainController">
<nav class="navbar navbar-default">
<div class="container">
<div class="navbar-header">
<a class="navbar-brand" href="/">Hacker's Diary</a>
</div>
<ul class="nav navbar-nav navbar-right">
<!--<li><a href=""><i class="fa fa-home"></i> Home</a></li>-->
<!--<li><a href="#about"><i class="fa fa-shield"></i> About</a></li>-->
<li><a href="repos"><i class="fa fa-calendar"></i> My Repos</a></li>
<!--
<li><a href="trends"><i class="fa fa-folder-open"></i> Trends</a></li>
<li><a href="startups"><i class="fa fa-building"></i> StartUps</a></li>
<li><a href="contact"><i class="fa fa-comment"></i> Contact</a></li>
-->
<li><a href="profile"><i class="fa fa-user"></i> Profile</a></li>
</ul>
</div>
</nav>
<div id="main">
<!-- angular templating -->
<!-- this is where content will be injected -->
<div ng-view></div>
</div>
</body>
<!--<script src="js/services/companies-service.js"></script>-->
<!--<script src="js/services/user-service.js"></script>-->
<script src="js/controllers/user-controller.js"></script>
<!--<script src="js/controllers/company-controller.js"></script>-->
<script src="js/controllers/main-controller.js"></script>
</html>